<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}L M S{% endblock %}</title>
</head>
<body>
    {% if request.path != '/' %}
        <a href="{% url 'get_home' %}"><button>GO HOME</button></a>
    {% endif %}
    {% if request.path != '/contactus' %}
        <a href="{% url 'add_feedback' %}"><button>CONTACT US</button></a>
    {% endif %}
    <div>
        {% block content %}
            <h1>Hello! This is my new Django project</h1>
            <p>List of our students <a href="students">here</a></p>
            <p>List of our teachers <a href="lecturers">here</a></p>
            <p>Information about groups <a href="groups">here</a></p>
        {% endblock %}
    </div>
</body>
</html>